[run]
omit = video_main.py,tests//*,emotion_analyzer\model_utils.py,
        emotion_analyzer\emotion_detector_base.py,emotion_analyzer\media_utils.py,
        emotion_analyzer\exceptions.py,emotion_analyzer\face_detector.py